{% block stylesheets %}
    {{ encore_entry_link_tags('header-app') }}
{% endblock %}
<section id="header-app" class="shadow-sm">
    <a href="{{ path('app_home') }}">
        <div class="logo">
            <img src="{{ asset('images/app/logo-ecommerce.png') }}">
        </div>
    </a>
    <nav>
        <div class="v-center container">
            <ul>
                <li><a href="{{ path('app_categories') }}">Catalogues</a></li>
                <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
            </ul>
            <div class="div-search-container">
                <div class="div-search">
                    <form action="{{"/"}}" method="get">
                        <input type="search" name="search" class="form-control" placeholder="Rechercher...">
                    </form>
                    <div class="icon-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="div-right">
        <div class="div-content v-center">
            <div class="profile">
                <div class="before-connection">
                    {% if app.user %}
                    <a id="firstname" href="/profil">{{ app.user.firstname }} {{ app.user.lastname }}</a>
                        <a href="{{ path('app_logout') }}" style="margin-right: 20px; text-decoration:none;" class="btn-round-ecom">Deconnexion</a>
                    {% else %}
                        <a href="{{"/login"}}" style="margin-right: 20px; text-decoration:none;" class="btn-round-ecom">Connexion</a>
                        <a href="{{"/register"}}" style="margin-right: 50px; text-decoration:none;" class="btn-outline-round-ecom">Inscription</a>
                    {% endif %}
                </div>
                <div class="after-connection">

                </div>
                <div class="cart">
                    <div class="cart-icon">
                        <span class="cart-number" hidden>0</span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="cart-price">0.00 </span><span style="font-size: 25px;"><strong>€</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block javascripts %}
    {{ encore_entry_script_tags('header-app') }}
    
{% endblock %}